<div class="h-screen w-screen flex flex-col font-body">
  <header>
    <geochem-navbar>
      <div geochemNavLeft>
        <geochem-logo
          imgURL="/assets/svg/logo-short.svg"
          [configurable]="true"
          (sideToggle)="toggleSideNav()"
        >
          <h3 class="text-xl">GeochemPro</h3>
        </geochem-logo>
      </div>
      <div geochemNavRight>Hello</div>
    </geochem-navbar>
  </header>
  <main class="flex-grow">
    <geochem-ui-sidenav [opened]="opened">
      <div geochemSidebar>
        <div class="flex justify-center items-end space-x-1">
          <geochem-icon-button>
            <svg-icon key="home" size="xl"></svg-icon
          ></geochem-icon-button>
          <a class=""> Home</a>
        </div>
      </div>
      <div geochemNavContent>Hello</div>
    </geochem-ui-sidenav>
  </main>
  <geochem-footer
    [date]="currentDate"
    text="Geochem Pro reserved"
  ></geochem-footer>
</div>
