<div class="h-screen w-screen flex flex-col font-body">
  <ng-container *rxLet="authService.isLoading$; let loading">
    <header>
      <geochem-navbar>
        <div geochemNavLeft>
          <geochem-logo
            imgURL="/assets/svg/logo-short.svg"
            [configurable]="true"
            (sideToggle)="toggleSideNav()"
            [showFullLogo]="opened"
          >
            <h3 class="text-xl">GeochemPro</h3>
          </geochem-logo>
        </div>
        <div geochemNavRight>
          <a (click)="login()">Login</a>
        </div>
      </geochem-navbar>
    </header>
    <main class="flex-grow">
      <geochem-ui-sidenav [opened]="opened" *ngIf="!loading">
        <div geochemSidebar>
          <geochem-sidenav-list
            [open]="opened"
            [items]="items"
          ></geochem-sidenav-list>
        </div>

        <div geochemNavContent class="flex-grow flex flex-col">
          <div class="flex-grow"></div>
          <geochem-footer
            [date]="currentDate"
            text="Geochem Pro reserved"
          ></geochem-footer>
        </div>
      </geochem-ui-sidenav>
      <div
        class="w-full h-full flex justify-center items-center"
        *ngIf="loading"
      >
        <img src="/assets/loader.gif" alt="Loading page" />
      </div>
    </main>
  </ng-container>
</div>
