<ng-container *rxLet="user$; let user">
  <div *ngIf="user" class="flex-grow flex flex-col">
    <div class="flex space-x-4">
      <geochem-dashboard-card
        key="project-details"
        text="Projects"
        count="12"
      ></geochem-dashboard-card>

      <geochem-dashboard-card
        key="project-details"
        text="Projects"
        count="12"
      ></geochem-dashboard-card>

      <geochem-dashboard-card
        key="project-details"
        text="Projects"
        count="12"
      ></geochem-dashboard-card>

      <geochem-dashboard-card
        key="project-details"
        text="Projects"
        count="12"
      ></geochem-dashboard-card>
    </div>
  </div>
</ng-container>
